@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  font-family: "Nunito", sans-serif;
}

.counter-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.counter-card:hover {
  transform: translateY(-5px);
}

.holder {
  @apply max-w-[1512px] mx-auto px-6 lg:px-8;
}

.holder {
  @apply max-w-[1230px] mx-auto px-6 lg:px-8;
}

/* Custom component styles */
@layer components {
  .btn-primary {
    @apply bg-pink-600 text-white px-8 py-3 rounded-lg font-semibold shadow hover:bg-pink-700 transition;
  }

  .btn-secondary {
    @apply text-pink-600 font-semibold hover:underline;
  }

  .card {
    @apply bg-white rounded-lg shadow p-6;
  }

  .section-title {
    @apply text-3xl font-bold text-pink-600 mb-4;
  }
}

#mobile-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}
#mobile-menu.open {
  max-height: 500px; /* large enough to fit your menu */
}



/* testimonial slider */

/* Container should have a fixed height or be inside a flex/grid */
.testimonial-swiper {
    width: 100%;
  height: auto;
  min-height: 300px;
}

/* Each slide */
.testimonial-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* hero-slider-css */


.overlay {
  @apply bg-black/20 absolute top-0 bottom-0 left-0 right-0;
}


/* Swiper Banner slider */

.swiper.bannerSlider .swiper-pagination .swiper-pagination-bullet {
  @apply w-3 h-3 bg-white opacity-100;
}

.swiper.bannerSlider .swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-blue-600;
}

.swiper.bannerSlider .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  @apply bottom-8;
}